<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img class="app-icon"
      src="https://previews.123rf.com/images/designtools/designtools1811/designtools181100648/111217714-electric-charge-icon-with-fast-speed-effect-in-red-and-yellow-colors-vector-illustration-designed-fo.jpg"
      alt="" />
    <ion-card-header>
      <!-- <ion-card-subtitle>Hello!</ion-card-subtitle> -->
      <ion-card-title>Welcome to EnergizeMe App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" href="/tabs/tab1" routerDirection="forward">LOGIN</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>