<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Charging stations map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe src="https://map.openchargemap.io/?mode=embedded" allow="geolocation" frameborder="0" width="100%"
    height="400px"></iframe>
  <ion-content>
    <ion-item detail *ngFor="let item of chargingStations$ | async">
      <ion-avatar slot="start">
        <!-- <ion-icon name="battery-charging"></ion-icon> -->
        <img src="https://cdn3.iconfinder.com/data/icons/basicolor-computer-tech/24/105_battery_charging-512.png">
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <ion-text>
          <h3>{{item.AddressInfo.Title}}</h3>
        </ion-text>
        <p>{{item.AddressInfo.AccessComments}}</p>
        <ion-text color="primary">
          <p>{{item.AddressInfo.Postcode}} {{item.AddressInfo.Town}}, {{item.AddressInfo.AddressLine1}}</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-content>
</ion-content>